<mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{travels[0].destination}}</mat-card-title>
      <mat-card-subtitle>{{travels[0].duration}}</mat-card-subtitle>
      <mat-card-subtitle>{{travels[0].price}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="image" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{travels[0].description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>Dettaglio viaggio</button> -->
    </mat-card-actions>
  </mat-card>